# === Core Data Science & ML ===
pandas
numpy


# === Azure ML SDK & Identity ===
azure-ai-ml
azure-identity
azureml-core
azureml-sdk
azureml-dataprep

# === PostgreSQL & SQL Support ===
SQLAlchemy
psycopg2-binary

# === Fix for marshmallow compatibility ===
marshmallow==3.23.0
